
.navbar-brand, .nav-link{
    color:white;
    
}

.navbar-brand{
    margin-left: 100px;
    margin-right: 130px;
}

.nav-link{
    margin-left: 50px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-left: -100px;
}

.centered {
    margin-top: -500px;
    margin-left: 500px;
    font-size: 110px;
  }

  .april{
    border: 1px solid black;
    width: 800px;
    background-color: rgb(241, 240, 240);
    margin-left: 300px;
    height: 30px;
  }

  .pic{
    margin-left: 300px;
  }

  .title{
    margin-top: -150px;
    margin-left: 550px;
  }

  .desc{
    margin-top: 10px;
    margin-left: 550px;
  }

  .line{
    width:800px;
    margin-left: 300px;
  }
 
  .read{
    background-color: rgb(255, 197, 138);
    width:3cm;
    height:1m;
    color:rgb(255, 255, 255);
    margin-left: 85px;
    text-align: center;

    
    
  }
  
  
  
